<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {
	  width: 100%;
	  border-collapse: collapse;
	  margin: 20px 0;
	}

	th,
	td {
	  padding: 8px 12px;
	  text-align: center;
	  border: 1px solid #ccc;
	}

	th {
	  background-color: #f4f4f4;
	}
    </style>
</head>
<body>
	<h3>発注書</h3>
	<h4>御中</h4>
	<h4>件名</h4>
	
	<p>下記のとおり、発注いたします。</p>
	<p>現場住所：</p>
	<p>工期：</p>
	<p>支払期日：</p>
	<p>支払い条件：</p>
	<p>見積No：</p>
	
	<table>
	       <thead>
	           <tr>
	               <th>No</th>
	               <th>商品</th>
	               <th>数量</th>
	           </tr>
	       </thead>
	       <tbody>
	           <tr>
	               <td></td>
	               <td></td>
	               <td></td>
	           </tr>
	           <tr>
	               <td></td>
	               <td></td>
	               <td></td>
	           </tr>
	           <tr>
	               <td></td>
	               <td></td>
	               <td></td>
	           </tr>
			   <tr>
			   	   <td></td>
	               <td></td>
	               <td></td>
	           </tr>
			   <tr>
	               <td></td>
	               <td></td>
	               <td></td>
	           </tr>
			   <tr>
	               <td></td>
	               <td></td>
	               <td></td>
	           </tr>
			   <tr>
	               <td></td>
	               <td></td>
	               <td></td>
	           </tr>
			   <tr>
	               <td></td>
	               <td></td>
	               <td></td>
	           </tr>
			   <tr>
	               <td></td>
	               <td></td>
                   <td></td>
	           </tr>
			   <tr>
	               <td></td>
	               <td></td>
	               <td></td>
	           </tr>
			   <tr>
                   <td></td>
	               <td></td>
	               <td></td>
	           </tr>
			   <tr>
	               <td></td>
	               <td></td>
	               <td></td>
               </tr>
			   <tr>
	               <td></td>
	               <td></td>
	               <td></td>
	           </tr>
			   <tr>
	               <td></td>
	               <td></td>
	               <td></td>
	           </tr>
	       </tbody>
	   </table>
	   
	   <table>
       <thead>
           <tr>
               <th>備考</th>
           </tr>
       </thead>
	   <tbody>
           <tr>
               <td></td>
           </tr>
	   </tbody>
	   </table>

	   <form action="/submit" method="post">
	     <input type="submit" value="送信">
	   </form>
	   
</body>
</html>