<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>楽々シフト管理</title>
<style>
	h1{
		text-align: center;
	}
	
	#option{
		text-align: center;	
	}
	
	button{
		font-size: 20px; 
		padding: 15px 30px
	}
	
	p{
		padding: 10px;
		width: 100%; 
		
		
	}
	
</style>

</head>
<body>
	<h1>楽々シフト管理システム</h1>
	
	
	<div id = "option">
	<p></p>
	<a href="/submit">
	<button>シフト作成を始める</button>
	</a>
	<p></p>
	<br>
	<a href = "/personal">
	<button>シフト一覧を見る</button>
	</a>
	</div>


</body>
</html>