<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>どの業務をしますか？</h1>
	<form action="http://localhost:8080/shifttop" method="get" target="_blank">
	  <button type="submit">シフト作成</button>
	</form>
	
	<form action="http://localhost:8080/kintaitop" method="get" target="_blank">
	  <button type="submit">勤怠管理</button>
	</form>
	
	<form action="http://localhost:8080/role-selection" method="get" target="_blank">
	  <button type="submit">発注業務</button>
	</form>

</body>
</html>